<div class="agenda-banner">
    <div class="container">
  <p><strong>The Docathon is Live!</strong><br />Want to participate? Follow these 3 steps:<br />
    <ol style="list-style-position: inside;">
        <li> Sign up for the docathon so we can track your commits this week. (as a <a class='banner_link' href="https://goo.gl/forms/0cPpw01zehrEyDDE3">project</a>, or a <a class='banner_link' href="https://goo.gl/forms/AaW2b24mMxOutxt02">participant</a>)</li>
        <li> Tag any documentation-related commits with "doc", "documentation", or "docathon"</li>
        <li> Join in on our <a class='banner_link' href="https://docathon.slack.com">slack channel</a> (<a class='banner_link' href="http://docathon.herokuapp.com">Request Invite</a>) or at one of our <a class='banner_link' href="https://bids.github.io/docathon/pages/hosts.html">working groups</a></li>
    </ol>
  </p>
  </div>
</div>

<div class="container">
  <a href="https://bids.github.io/docathon/pages/stats.html"><img src="images/global_activity.png" class='docathon_image'/></a>
</div>

<div class="agenda-banner">
  <div class="container">
    <p>We'd be delighted for you to participate <strong>remotely</strong>; we also have local working groups at the following locations (click through for agenda):</p>
    <div class="agenda-link"><a href="/docathon/pages/hosts/bids.html">Berkeley</a></div>
    <div class="agenda-link"><a href="/docathon/pages/hosts/gc.html">NYC</a></div>
    <div class="agenda-link"><a
    href="/docathon/pages/hosts/uwescience.html">Seattle</a></div>

  </div>
</div>

<div class="agenda-banner">
  <div class="container">
    <p>The Docathon is ongoing! We'd be delighted for you to participate <strong>remotely</strong>; we also have local working groups at the following locations (click through for agenda):</p>
    <div class="agenda-link"><a href="/docathon/pages/hosts/bids.html">Berkeley</a></div>
    <div class="agenda-link"><a href="/docathon/pages/hosts/gc.html">NYC</a></div>
    <div class="agenda-link"><a
    href="/docathon/pages/hosts/uwescience.html">Seattle</a></div>
     <a class="twitter-timeline"  href="https://twitter.com/hashtag/docathon" data-widget-id="838804315133329414">Tweets sur #docathon</a>
     <a class="twitter-timeline"  href="https://twitter.com/search?q=%40docathon" data-widget-id="838805273443725312">Tweets sur @docathon</a>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>
