<div class="agenda-banner">
    <div class="container">
  <p><strong>The Docathon is Over!</strong><br />A huge thanks to everybody for making the world of documentation a little bit better. We can't wait for next year to come! See what we did below, or check out the <a href="pages/projects/projects.html">projects</a> and <a href="pages/users.html">users</a> pages for a breakdown of everybody's work!
  </p>
  </div>
</div>

<div class="container">
  <a href="https://docathon.github.io/docathon/pages/stats.html"><img src="images/global_activity.png" class='docathon_image'/></a>
</div>

