<div class="agenda-banner">
    <div class="container">
  <p><strong>The Docathon is Live!</strong><br />Want to participate? Follow these 3 steps:<br />
    <ol style="list-style-position: inside;">
        <li> Sign up for the docathon so we can track your commits this week. (as a <a href="https://goo.gl/forms/0cPpw01zehrEyDDE3">project</a>, or a <a href="https://goo.gl/forms/AaW2b24mMxOutxt02">participant</a>)</li>
        <li> Tag any documentation-related commits with "doc", "documentation", or "docathon"</li>
        <li> Join in on our <a href="docathon.herokuapp.com">slack channel</a> or at one of our <a href="https://bids.github.io/docathon/pages/hosts.html">working groups</a></li>
    </ol>
  </p>
  </div>
</div>

<div class="container">
  <a href="https://bids.github.io/docathon/pages/stats.html"><img src="images/global_activity.png" style="box-shadow: none; margin: auto"/></a>
</div>

<div class="agenda-banner">
  <div class="container">
    <p>We'd be delighted for you to participate <strong>remotely</strong>; we also have local working groups at the following locations (click through for agenda):</p>
    <div class="agenda-link"><a href="/docathon/pages/hosts/bids.html">Berkeley</a></div>
    <div class="agenda-link"><a href="/docathon/pages/hosts/gc.html">NYC</a></div>
    <div class="agenda-link"><a
    href="/docathon/pages/hosts/uwescience.html">Seattle</a></div>

  </div>
</div>
