<div class="offset-container">
<div class="container">
<div class="row">
<div class="span-3">
<h2>What's a docathon?</h2>
<p>
It's a week where we all take a break from building new
features, and instead focus on making our code as understandable as possible.
During the week of <strong>March 6th, 2017</strong>,
we encourage developers of all skill
levels to focus on contributing to documentation from home or
at one of our host locations. We encourage both
<a href="https://bids.github.io/docathon/encouraging-user-docathon.html">seasoned developers</a> and <a href="https://bids.github.io/docathon/contributing-documentation.html">new contributors</a> to participate!
</p>
</div>
<div class="span-3">
<h2>Why a docathon?</h2>
Everybody knows how important documentation is. 
However, we often don't give documentation enough
attention. Functions are often missing argument explanations,
examples don't run or reveal outdated APIs, tutorials are often
idiosyncratic (or not even there). The docathon is about changing that.
</div>
<div class="span-3">
<h2>How do I join in?</h2>
All you need is a project to work on, simply stop fixing bugs and
adding features for one week, and work on documentation!
You can either work from home or come to one of our host locations. If
you want to sign up for the event, click one of the buttons below and answer a
couple questions. We'll use this to keep track of everyone's progress!<br />

<a href="https://goo.gl/forms/AaW2b24mMxOutxt02"><div class="front_button">Participant</div></a>
<a href="https://goo.gl/forms/0cPpw01zehrEyDDE3"><div class="front_button">Project</div></a>
</div>
</div>
</div>
</div>

<div class="agenda-banner">
  <div class="container">
    <p>The Docathon is ongoing! We'd be delighted for you to participate <strong>remotely</strong>; we also have local working groups at the following locations (click through for agenda):</p>
    <div class="agenda-link"><a href="/docathon/pages/hosts/bids.html">Berkeley</a></div>
    <div class="agenda-link"><a href="/docathon/pages/hosts/gc.html">NYC</a></div>
    <div class="agenda-link"><a
    href="/docathon/pages/hosts/uwescience.html">Seattle</a></div>

  </div>
</div>
